<table datatable [dtOptions]="dtOptions" class="table-striped">
  <thead>
    <tr>
      <th>Last Service Date</th>
      <th>Customer Name</th>
      <th>Customer Email ID</th>
      <th>Language</th>
      <th>Status</th>
      <th>Register Date & Time</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dataSource">
      <td>{{ item.lastServiceDate }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.language }}</td>
      <td>{{ item.status }}</td>
      <td>{{ item.registeredTime }}</td>
      <td style="width: 5%;">
        <button type="button"><img src="assets/tab.png" /></button>
      </td>
      <td style="width: 5%;">
        <button type="button"><img src="assets/group.png" /></button>
      </td>
    </tr>
  </tbody>
</table>