.user-info {
  &-container {
    background-color: #F7F7F7;
    margin-top: 1rem;
  }

  &-label {
    font-size: 12px;
    font-weight: bold;
    color: #B7B7B7;
    margin: 0;
  }

  &-text {
    font-size: 13px;
  }

  &-input-search {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000000;
    background-color: #F7F7F7;
  }
}
