<nav class="navbar navbar-expand-lg nav-bg navbar-dark">
  <a class="navbar-brand text-hide nav-brand col-2" routerLink="/dashboard">
    <img src="assets/Lattice logo.png" alt="Avatar">
    LatticeWork, Inc
  </a>
  <button class="navbar-toggler text-white" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-between col-10">
    <div class="form-inline w-25">
      <label for="searchUserInput" class="sr-only">Search User Account</label>
      <div class="input-group w-100">
        <input id="searchUserInput" type="text" class="form-control no-outline nav-input-search p-0 text-white"
          placeholder="Search User Account" [(ngModel)]="searchUserInput" (ngModelChange)="searchUser()"
          [ngbTypeahead]="search" [editable]='false' />
        <div class="input-group-append">
          <div *ngIf="loading">
            <mat-progress-spinner color="warn" mode="indeterminate" diameter="30">
            </mat-progress-spinner>
          </div>
          <button class="btn btn-sm btn-link text-reset nav-input-search" type="button" (click)="searchUser()"
            *ngIf="!loading">
            <i class="fa fa-search text-white"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="navbar-text">
      <a class="nav-link text-reset d-flex flex-row" href="#" (click)="logout()">
        <img class="rounded-circle mr-2" src="assets/User.png" alt="Avatar" height="44">
        <span *ngIf="currentUser" class="d-inline-block text-white">
          <p class="m-0">{{currentUser.account}}</p>
          <!-- <p class="m-0 text-white-50">
            TWN-1
          </p> -->
        </span>
      </a>
    </div>
  </div>
</nav>