<div class="login-wrapper">
  <div class="left">
    <h4>A smarter way to connect your life</h4>
    <img src="https://i.ibb.co/tPxb1m2/amber-logo.png" alt="logo">
    <h6>
      Amber puts privacy and control back into your hands.
      A lifetime of photos, videos and digital files organized locally,
      accessible from anywhere and always protected.
    </h6>
  </div>
  <div class="right">
    <h3>Amber Support Portal</h3>
    <h6 style="margin-bottom: 30px;">Hello! Sign in with your cloud account</h6>
    <form [formGroup]="loginForm" (ngSubmit)="signIn()">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input type="text" formControlName="email" class="form-control" placeholder="Enter email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Invalid email</div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="form-group col-md-6">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control" placeholder="Enter password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <button class="btn btn-outline-secondary">Sign in</button>
        </div>
        <div class="col-md-5"></div>
      </div>
    </form>
  </div>
</div>
