.no-box-shadow {
    box-shadow: none;
    border-top: 1px solid #cccccc;
    border-radius: 0 !important;
}

.expansion-header {
    background-color: #4D648D !important;
}

.mat-expansion-panel-spacing {
    margin: 0;
}