<aside class="ltw-sidebar ltw-sidebar-bg">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let item of sidebarList" class="ltw-sidebar-bg-item rounded-0 shadow-none my-0">
      <mat-expansion-panel-header collapsedHeight="60px" expandedHeight="60px">
        <mat-panel-title>
          <mat-icon [svgIcon]="item.icon" class="mr-2"></mat-icon>
          {{item.name}}
        </mat-panel-title>
        <div class="d-flex align-items-center justify-content-center mr-3">
          <span class="badge badge-light badge-pill border border-dark">{{item.data ? item.data.length : 0}}</span>
        </div>
      </mat-expansion-panel-header>

      <div class="list-group list-group-flush">
        <a [ngClass]="{'ltw-sidebar-item-selected': isSelectedItem(nas, item)}" class="list-group-item list-group-item-action" href="#" *ngFor="let nas of item.data"
          (click)="getDetailInfo($event, nas, item)">
          {{item.name === 'App' ? nas.app_display_name : nas.display_name}}
        </a>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</aside>