<aside class="ltw-sidebar ltw-sidebar-bg">
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center ltw-sidebar-bg-item"
      href="#">
      <span>
        <img class="img-thumbnail" src="assets/Amber dashboard.png" alt="Amber" width="29" height="32">
        Amber
      </span>
      <span>
        <span class="badge badge-light badge-pill border border-dark">0</span>
        <i class="fa fa-angle-down ml-3"></i>
      </span>
    </a>
    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center ltw-sidebar-bg-item"
      href="#" tabindex="-1" aria-disabled="true">
      <span>
        <img class="img-thumbnail" src="assets/mobile.png" alt="Amber" width="29" height="32">
        App
      </span>
      <span>
        <span class="badge badge-light badge-pill border border-dark">0</span>
        <i class="fa fa-angle-down ml-3"></i>
      </span>
    </a>
    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center ltw-sidebar-bg-item"
      href="#">
      <span>
        <img class="img-thumbnail" src="assets/Amber X.png" alt="Amber" width="29" height="32">
        Amber X
      </span>
      <span>
        <span class="badge badge-light badge-pill border border-dark">0</span>
        <i class="fa fa-angle-down ml-3"></i>
      </span>
    </a>
  </div>
</aside>