<aside class="ltw-sidebar ltw-sidebar-bg-grey">
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center ltw-sidebar-bg-grey-item"
      href="#">
      Amber
      <span>
        <span class="badge badge-secondary badge-pill">14</span>
        <i class="fa fa-angle-down ml-3"></i>
      </span>
    </a>
    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center ltw-sidebar-bg-grey-item"
      href="#" tabindex="-1" aria-disabled="true">
      App
      <span>
        <span class="badge badge-secondary badge-pill">14</span>
        <i class="fa fa-angle-down ml-3"></i>
      </span>
    </a>
    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center ltw-sidebar-bg-grey-item"
      href="#">
      Amber X
      <span>
        <span class="badge badge-secondary badge-pill">14</span>
        <i class="fa fa-angle-down ml-3"></i>
      </span>
    </a>
  </div>
</aside>
