<button type="button" class="btn btn-sm btn-dark round-corner" [ngbPopover]="popContent" placement="top"
  [autoClose]="false" triggers="manual" #pop="ngbPopover" (click)="pop.toggle()" container="body"
  popoverClass="request-log-popover">
  Request log
</button>
<ng-template #popContent>
  <form [formGroup]="form" #formDir="ngForm" class="form-inline" (ngSubmit)="form.valid && submit(pop)" novalidate>
    <div class="form-row">
      <div class="col">
        <p>Please enter the Zendesk number to display the Amber log details</p>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-8 align-items-start">
        <label for="ticketNumber" class="sr-only">Enter the number</label>
        <input id="ticketNumber" class="form-control form-control-sm no-outline input-no-border p-0" type="text"
          formControlName="ticketNumber" placeholder="Enter the number"
          [ngClass]="{ 'is-invalid': formDir.submitted && f.ticketNumber.errors }">
        <div *ngIf="formDir.submitted && f.ticketNumber.errors" class="invalid-feedback">
          <div *ngIf="f.ticketNumber.errors.required">Ticket Number is required</div>
        </div>
      </div>
      <div class="form-group col-4 align-items-start">
        <button type="submit" class="btn btn-dark btn-sm round-corner" [disabled]="f.invalid || requesting">Submit</button>
      </div>
    </div>
  </form>
</ng-template>