<div class="row pt-4 no-gutters">
  <!-- 1 -->
  <div class="col-12 col-md-3">
    <div class="card border-0 text-center">
      <div class="card-img-top">
        <img src="assets/amber-logo.png" alt="logo" width="149" height="183">
      </div>
      <div class="card-body p-0">
        <div class="card-text mb-2">
          <table class="border-0 ltw-detail-table text-left" *ngIf="profileInfo">
            <tbody>
              <tr>
                <td><i class="ltw-detail-cloud-icon"></i></td>
                <td class="ltw-detail-label">Cloud Usage</td>
                <td class="p-0">:</td>
                <td> GB/ GB</td>
              </tr>
              <tr>
                <td><i class="ltw-detail-disk-icon"></i></td>
                <td class="ltw-detail-label">Disk Usage</td>
                <td class="p-0">:</td>
                <td> GB/{{profileInfo.disk_quota}} GB</td>
              </tr>
            </tbody>
          </table>
        </div>

        <button type="button" class="btn btn-sm btn-dark round-corner mr-2">Remote Debug</button>

        <app-request-log-button></app-request-log-button>

      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="d-flex justify-content-between justify-content-lg-around">
      <table class="border-0">
        <tbody>
          <tr *ngFor="let detail of leftDetails">
            <td class="ltw-detail-label p-3 align-middle">{{detail.label}}</td>
            <td class="p-0 py-3 align-middle">:</td>
            <td class="p-3 align-middle text-wrap">{{detail.value}}</td>
          </tr>
        </tbody>
      </table>
      <table class="border-0">
        <tbody>
          <tr *ngFor="let detail of rightDetails">
            <td class="ltw-detail-label p-3 align-middle">{{detail.label}}</td>
            <td class="p-0 py-3 align-middle">:</td>
            <td class="p-3 align-middle d-flex align-items-center">
              <span class="text-wrap text-break">
                {{detail.value}}
              </span>
              <button type="button" class="btn btn-dark btn-sm round-corner ml-3"
                *ngIf="detail.label === 'GUID'">Migrate</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-12 col-md-3">
    <div class="card ltw-detail-activity-card">
      <div class="card-header bg-transparent text-center border-bottom border-dark">
        Activity Events
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Event Type</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody *ngIf="activityList">
            <tr *ngFor="let item of activityList">
              <td>{{item.time}}</td>
              <td>{{item.type}}</td>
              <td>{{item.msg}}</td>
            </tr>
          </tbody>
          <tbody *ngIf="appActivityList">
            <tr *ngFor="let item of appActivityList">
              <td>{{item.event_time}}</td>
              <td>{{item.event_type}}</td>
              <td>{{item.details}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>