<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-striped">
  <thead>
    <tr>
      <th style="padding-left: 10px;"><input type="checkbox" value="">&nbsp;&nbsp;Ticket Number</th>
      <th>Log Name</th>
      <th>&nbsp;</th>
      <th>Create Date</th>
      <th>Time Upload</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dataSource">
      <td style="width: 14%;"><input type="checkbox" value="">&nbsp;&nbsp;{{ item.id }}</td>
      <td style="width: 15%;">{{ item.name }}</td>
      <td class="text-left" style="width: 10%;">
        <button type="button" class="refresh-btn"><img src="assets/refresh-ccw.png" />&nbsp;&nbsp;Retry</button>
      </td>
      <td style="width: 20%;">{{ item.createDate }}</td>
      <td>{{ item.timeUpload }}</td>
    </tr>
  </tbody>
</table>
